<h1>Pearsons R Recommeder built with Python and Pandas</h1>

In [1]:
import pandas as pd
import numpy as np

<p>The dataset I've used is a popular MovieLens dataset available for public download <a href="https://grouplens.org/datasets/movielens/">here</a>.</p>
<p><b>Dataset description:</b> 100,000 ratings and 3,600 tag applications applied to 9,000 movies by 600 users. Last updated 9/2018.</p>

In [16]:
movies = pd.read_csv('ml-latest-small/movies.csv')
print(f'movies dataframe has {movies.shape[0]} rows and {movies.shape[1]} columns')
movies.tail(50)

movies dataframe has 9742 rows and 3 columns

,movieId,title,genres
9692,184471,Tomb Raider (2018),Action|Adventure|Fantasy
9693,184641,Fullmetal Alchemist 2018 (2017),Action|Adventure|Fantasy
9694,184721,First Reformed (2017),Drama|Thriller
9695,184791,Fred Armisen: Standup for Drummers (2018),Comedy
9696,184931,Death Wish (2018),Action|Crime|Drama|Thriller
9697,184987,A Wrinkle in Time (2018),Adventure|Children|Fantasy|Sci-Fi
9698,184997,"Love, Simon (2018)",Comedy|Drama
9699,185029,A Quiet Place (2018),Drama|Horror|Thriller
9700,185031,Alpha (2018),Adventure|Thriller
9701,185033,I Kill Giants (2018),Drama|Fantasy|Thriller
9702,185135,Sherlock - A Study in Pink (2010),Crime
9703,185435,"Game Over, Man! (2018)",Action|Comedy
9704,185473,Blockers (2018),Comedy
9705,185585,Pacific Rim: Uprising (2018),Action|Fantasy|Sci-Fi
9706,186587,Rampage (2018),Action|Adventure|Sci-Fi
9707,187031,Jurassic World: Fallen Kingdom (2018),Action|Adventure|Drama|Sci-Fi|Thriller
9708,187541,Incredibles 2 (2018),Action|Adventure|Animation|Children
9709,187593,Deadpool 2 (2018),Action|Comedy|Sci-Fi
9710,187595,Solo: A Star Wars Story (2018),Action|Adventure|Children|Sci-Fi
9711,187717,Won't You Be My Neighbor? (2018),Documentary
9712,188189,Sorry to Bother You (2018),Comedy|Fantasy|Sci-Fi
9713,188301,Ant-Man and the Wasp (2018),Action|Adventure|Comedy|Fantasy|Sci-Fi
9714,188675,Dogman (2018),Crime|Drama
9715,188751,Mamma Mia: Here We Go Again! (2018),Comedy|Romance
9716,188797,Tag (2018),Comedy
9717,188833,The Man Who Killed Don Quixote (2018),Adventure|Comedy|Fantasy
9718,189043,Boundaries (2018),Comedy|Drama
9719,189111,Spiral (2018),Documentary
9720,189333,Mission: Impossible - Fallout (2018),Action|Adventure|Thriller
9721,189381,SuperFly (2018),Action|Crime|Thriller
9722,189547,Iron Soldier (2010),Action|Sci-Fi
9723,189713,BlacKkKlansman (2018),Comedy|Crime|Drama
9724,190183,The Darkest Minds (2018),Sci-Fi|Thriller
9725,190207,Tilt (2011),Drama|Romance
9726,190209,Jeff Ross Roasts the Border (2017),Comedy
9727,190213,John From (2015),Drama
9728,190215,Liquid Truth (2017),Drama
9729,190219,Bunny (1998),Animation
9730,190221,Hommage à Zgougou (et salut à Sabine Mamou) (2...,Documentary
9731,191005,Gintama (2017),Action|Adventure|Comedy|Sci-Fi
9732,193565,Gintama: The Movie (2010),Action|Animation|Comedy|Sci-Fi
9733,193567,anohana: The Flower We Saw That Day - The Movi...,Animation|Drama
9734,193571,Silver Spoon (2014),Comedy|Drama
9735,193573,Love Live! The School Idol Movie (2015),Animation
9736,193579,Jon Stewart Has Left the Building (2015),Documentary
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [3]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
print(f'ratings dataframe has {ratings.shape[0]} rows and {ratings.shape[1]} columns')
ratings.head()

ratings dataframe has 100836 rows and 4 columns

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

<p>Will be convinient to replace movieId with movie title in the rating column. To do that we may use .map mathod that is <i>used for substituting each value in a Series with another value, that may be derived from a function, a dict or a Series.</i></p>

In [4]:
%%time
def replace_id_with_name(id):
    return movies[movies['movieId'] == id].title.values[0]

ratings.movieId = ratings.movieId.map(replace_id_with_name)

CPU times: user 52.5 s, sys: 8.58 ms, total: 52.5 s
Wall time: 52.5 s

In [5]:
ratings.head()

   userId                      movieId  rating  timestamp
0       1             Toy Story (1995)     4.0  964982703
1       1      Grumpier Old Men (1995)     4.0  964981247
2       1                  Heat (1995)     4.0  964982224
3       1  Seven (a.k.a. Se7en) (1995)     5.0  964983815
4       1   Usual Suspects, The (1995)     5.0  964982931

<p>To create recommendations we have to build s pivot table using <i>pivot_table</i> command.</p>

In [11]:
matrix = ratings.pivot_table(index=['userId'],
                             columns=['movieId'],
                             values='rating')
print(f"""matrix_of_users_by_movies has {matrix.shape[0]} rows and {matrix.shape[1]} columns""")

matrix.head(20)

matrix_of_users_by_movies has 610 rows and 9719 columns

movieId,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]² (2009),[REC]³ 3 Génesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931)
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN

<p>This table is very sparse, it contains mostly NaN values which is kind of natural because not every person saw every movie.</p>

In [12]:
def pearson_r(series1, series2):
    """Takw two pd.Series objects and return a pearson correlation berween the two"""
    series1_c = series1 - series1.mean()
    series2_c = series2 - series2.mean()
    return np.sum(series1_c * series1_c) / np.sqrt(np.sum(series1_c ** 2) * np.sum(series2_c ** 2))

In [19]:
pearson_r(matrix['Sherlock - A Study in Pink (2010)'], matrix['(500) Days of Summer (2009)'])

0.05222329678670935

In [22]:
pearson_r(matrix['Sherlock - A Study in Pink (2010)'], matrix["eXistenZ (1999)"])

0.09590268199959645